body {
  font-family: 'Arial', sans-serif;
  background-color: #eaf4fc;
  margin: 0;
  padding: 0;
  font-size: 16px;
}


.app {
  max-width: 600px;
  margin: 20px auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}


h1 {
  font-size: 2rem;
  text-align: center;
  color: #007acc;
  margin-bottom: 20px;
}


h2 {
  font-size: 1.5rem;
  color: #007acc;
  margin-top: 20px;
}


input[type='text'],
input[type='date'],
select,
button {
  margin: 5px 0;
  padding: 10px;
  border: 2px solid #007acc;
  border-radius: 10px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}


input[type='text']:focus,
input[type='date']:focus,
select:focus,
button:hover {
  border-color: #005b8e;
}


button {
  background-color: #007acc;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


button:hover {
  background-color: #005b8e;
}


ul {
  list-style-type: none;
  padding: 0;
}


li {
  margin-bottom: 15px;
  padding: 10px;
  background-color: #f0f8ff;
  border: 1px solid #007acc;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


li span {
  flex: 1;
  text-decoration: none;
  color: #333333;
  font-size: 1rem;
}


li span.completed {
  text-decoration: line-through;
  color: #aaa;
}
